<!DOCTYPE html>
</button>
<div class="collapse mt-3" id="depositForm">
<form method="post" action="/deposit" class="form-container">
<div class="form-group">
<label>Amount:</label>
<input type="number" class="form-control" name="amount" required />
</div>
<button type="submit" class="btn btn-block btn-success">Submit</button>
</form>
</div>
</div>


<!-- Withdraw Section -->
<div class="col-md-3">
<button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#withdrawForm" aria-expanded="false" aria-controls="withdrawForm">
Withdraw
</button>
<div class="collapse mt-3" id="withdrawForm">
<form method="post" action="/withdraw" class="form-container">
<div class="form-group">
<label>Amount:</label>
<input type="number" class="form-control" name="amount" required />
</div>
<button type="submit" class="btn btn-block btn-success">Submit</button>
</form>
</div>
</div>


<!-- Transfer Section -->
<div class="col-md-3">
<button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#transferForm" aria-expanded="false" aria-controls="transferForm">
Transfer Money
</button>
<div class="collapse mt-3" id="transferForm">
<form method="post" action="/transfer" class="form-container">
<div class="form-group">
<label>Recipient Username:</label>
<input type="text" class="form-control" name="toUsername" required />
</div>
<div class="form-group">
<label>Amount:</label>
<input type="number" class="form-control" name="amount" required />
</div>
<button type="submit" class="btn btn-block btn-success">Submit</button>
</form>
</div>
</div>
</div>


<p th:if="${error != null}" th:text="${error}" class="error text-center mt-3"></p>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>